form {
    margin: 0 auto;
    max-width: 450px;
    margin-bottom: 40px;
    background-color: rgb(207, 200, 200);
    padding: 20px;
    border-radius: 7px;
    border: solid 2px black;
}

.label_style {
    flex-basis: 220px;
    font-size: 18px;
    font-weight: bold;
}

.input_style {
    border-radius: 7px;
    border: solid 2px black;
    min-height: 20px;
}

.select_style {
    border-radius: 7px;
    border: solid 2px black;
}

.textarea_style {
    border: solid 2px black;
    border-radius: 7px;
    resize: vertical;
    width: 48%;
    height: 20px;
}

.div_style {
    margin-bottom: 12px;
    display: flex;
    margin-top: 8px;
    align-items: center;
    position: relative;
}

.error {
    left: 220px;
    top: 27px;
    position: absolute;
    margin-left: 5px;
    color: rgb(81, 231, 93);
    padding: 1px;
    font-size: 14px;
}

.test {
color: rgb(0, 0, 0)
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    width: 80px;
    height: 30px;
    margin-right: 5px;
}
